body {
  background-color: #eceef1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-header {
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 20px;
}

.sign-up-sub-header, #learn-more {
  text-align: center;
  font-size: 0.75em;
}

#header {
  padding: 10px 30px 10px 30px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  color: #505050;
  font-weight: 400;
  font-size: 12px;
}

#full-email {
  margin-top: 20px;
}

.full-sign-in {
  display: flex;
  flex-direction: column;
  text-align: justify;
  box-sizing: border-box;
}

#sign-in{
  background-color: #0077c5;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  margin: 0 20px 0 20px;
}

.logo {
  overflow: hidden;
  padding: 20px 0 20px 0;
}

.init-logo {
  width: 118px;
  height: 35px;
  display: block;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
}

.icons {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
}

.init-icons-1 {
  width: 80px;
  height: 30px;
  display: block;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  background-position: -250px 30px;
}

.init-icons-2 {
  width: 140px;
  height: 30px;
  display: block;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  background-position: -110px 30px;
}
.init-icons-3 {
  width: 105px;
  height: 30px;
  display: block;
  background-image: url(https://plugin.intuitcdn.net/identity-authn-core-ui/images/ecosystem_logos_new-a1ca21cc.png);
  background-position: 0px 30px;
}

.wrapper {
  width: 380px;
  font-family: "Muli", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  color: #4c4c4c;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 30px;
  background-color: white;
}

.google-captcha {
  padding: 16px;
  font-size: 0.65em;
}

.full {
  width: 100%;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.terms-of-use {
  margin-top: 30px;
  font-style: italic;
  color: grey;
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
  font-weight: 400;
}

label {
  padding: 0 0 6px 0;
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 6px 0 8px;
}

#full-create {
  width: 100%;
  background-color: #0077c5;
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 1.2em;
  border-radius: 5px;
}

/* selected link */
.full-links:hover {
  color: #0e98e0;
  text-decoration: none;
}

/* selected link */
.full-links:active {
  color: #0e98e0;
  text-decoration: none;
}

/* selected link */
.full-links:visited {
  color: #0e98e0;
  text-decoration: none;
}

/* selected link */
.full-links:link {
  text-decoration: none;
  color: #0e98e0;
}

/* selected link */
.button-links:hover {
  color: white;
  text-decoration: none;
}

/* selected link */
.button-links:active {
  color: white;
  text-decoration: none;
}

/* selected link */
.button-links:visited {
  color: white;
  text-decoration: none;
}

/* selected link */
.button-links:link {
  text-decoration: none;
  color: white;
}

#google-captcha,
#terms-of-use {
  text-align: center;
}

footer {
  height: 100px;
  padding: 20px 0 20px 0;
}
